.form-select {
  position: relative;

  &__text {
    color: grey;
  }

  &__selected {
    padding: 10px 10px;
    background-color: $whiteColor;
    cursor: pointer;
    border-radius: 15px;
    user-select: none;
    margin-top: 5px;

    &--empty {
      color: lightgray;
    }
  }

  &__triangle {
    position: absolute;
    right: 10px;
    bottom: 14px;
    color: grey;
    transition: transform .3s;
    pointer-events: none;

    &--rotated {
      transform: rotate(-180deg);
    }
  }

  &__list {
    user-select: none;
    position: absolute;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: $whiteColor;
    border-radius: 15px;
    z-index: 1;

    &-item {
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__radio {
    &-text {
      padding: 5px 10px;
      border-radius: 7px;

      &:hover {
        color: royalblue;
      }
    }

    &-input {
      display: none;

      &:checked + .form-select__radio-text {
        background-color: $bgColor;
      }
    }
  }
}